# SPDX-License-Identifier: GPL-3.0-or-later
# Copyright (c) 2023-2026 TU Ilmenau, FG EMS, Carsten Andrich <carsten.andrich@tu-ilmenau.de>

[usrp]
args =
sync = host

[mqtt]
host = 0.0.0.0
port = 1883
user =
password =
prefix = usrp_rxtx
pub_samples = 0

[shmem]
mount_desc = /dev/shm
mount_ring = /dev/shm
size_desc_mib = 2
size_ring_mib = 1024

[rx]
subdev =
antenna =
bandwidth = 0.
freq_rf = 0.
freq_dsp = 0.
gain = 0.
lo_source =
rate = 0.

[tx]
file =
subdev =
antenna =
bandwidth = 0.
freq_rf = 0.
freq_dsp = 0.
gain = 0.
lo_source =
rate = 0.

[wr]
directory =

[tune]
dev_cpu_dma_latency_usec = -1
